// FONT
@font-face {
    font-family: 'bebas';
    src: url('/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../public/fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_pro';
    src: url('/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../public/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// GLOBAL
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    font-family: 'source_sans_pro', Arial, sans-serif;
    padding: 1rem 2rem 0;
}

// NAVBAR
.mobile-nav-toggle {
    display: none;
}

nav {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    animation: navBarFadeIn 1s ease-in-out;

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        &:first-child {
            gap: 1rem;
        }

        &:last-child {
            gap: 1rem;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'bebas';
        font-size: 1.5rem;
    }
}

@media (max-width: 35em) {
    nav {
        ul {
            position: fixed;
            z-index: 1000;
            align-items: normal;
            flex-direction: column;
            inset: 0 0 0 40%;
            padding: min(30vh, 8rem) 2em;
            background: hsl(0 0% 0% / 0.75);
            
            &:last-child {
                gap: 2em;
            }
        }
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 2rem;
        background-color: transparent;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    @supports (backdrop-filter: blur(1rem)) {
        nav {
            ul {
                background: hsl(0 0% 100% / 0.1);
                backdrop-filter: blur(1rem);
            }
        }
    }
}

// MAIN CONTENT
.top_content {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 1rem - 80px);
    h1 {
        font-family: 'bebas';
        padding: 0;
        margin: 0;
        line-height: 1;
        text-transform: uppercase;
        font-size: 5rem;

        &:first-child {
            animation: fadeInFromLeft 1s ease-in-out;
        }

        &:last-child {
            color: transparent;
            background-color: transparent;
            font-size: 2rem;
            -webkit-text-stroke: .7px white;
            animation: fadeInFromRight 1s ease-in-out;
        }
    }
}

// ANIMATIONS
@keyframes navBarFadeIn {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
     }
}

@keyframes fadeInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
     }
}